body {
	background-color: #333;
	color: #f8f8f2;
	font-family: "Consolas", monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

h1 {
	color: #f92672;
	font-family: "Consolas", monaco, monospace;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	color: #f92672;
	font-family: "Consolas", monaco, monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
h3 {
	color: #f92672;
	font-family: "Consolas", monaco, monospace;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
h4 {
	color: #e6db74;
	font-family: "Consolas", monaco, monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	color: #f8f8f2;
	font-family: "Consolas", monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	color: #e6db74;
	font-family: "Consolas", monaco, monospace;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Consolas", monaco, monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
/* unvisited link */
a:link {
    color: #a6e22e;
}

/* visited link */
a:visited {
    color: #ae81ff;
}

/* mouse over link */
a:hover {
    color: #91a26e;
}

/* selected link */
a:active {
    color: #91a26e;
}
i {
	//font-style:normal;
	color: #66d9ef;
}
b {
	font-style:normal;
	color: #D1A375
}
em {
	font-style:normal;
	color: #00FF00
}
strong {
	font-style:normal;
	color: #FE9720
}
hr {
	border-top: 1px solid #666666;
}
.page-header {
	border-bottom: 1px dotted #6E2F46;
}
.blue {
	font-style:normal;
	color: #7985A3;
}
.btn-primary {
    background-color: rgba(0,0,0,.4);
    border-color: #a6e22e;
	font-family: "Consolas", monaco, monospace;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
.btn-primary:hover {
	color: #000;
    background-color: #8c8c8c;
    border-color: #333;
}
.pagination>li>a, .pagination>li>span {
	font-family: "Consolas", monaco, monospace;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #A6E22E;
    text-decoration: none;
    background-color: rgba(0,0,0,.4);
    border: 1px solid #A6E22E;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #000;
    cursor: default;
    background-color: #A6E22E;
    border-color: #A6E22E;
}

::selection {
  background: #757575; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #757575; /* Gecko Browsers */
}


/*!
 * Start Bootstrap - 1 Col Portfolio HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 51px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.navbar-brand.active {
	color: #fff;
    background-color: #080808;
}

.navbar {
    margin-bottom: 0px;
}
.page-header {
    margin-top: 10px;
}

.ace_scrollbar {
    -webkit-transition: opacity .3s ease-in-out;
       -moz-transition: opacity .3s ease-in-out;
        -ms-transition: opacity .3s ease-in-out;
         -o-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
    opacity: 0;
}
.ace_editor .ace_scrollbar:hover {
    opacity: 1;
}ity: 1;
}